form{
	padding: 30px 30px;
	text-align:center;
	margin-top:20px;
	font-family: 'Lobster', cursive;
	
}
h3{

    text-align: center;
    background-color: red;
}
div{
    padding:10px;
}
p{
	font-size: 20px;
}
h4{
	background-color: lightblue;
}
label{
	text-align: left;
}